/* body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins,sans-serif;
} */

.tab.active{
    color: #1da1f2;
}
.navadjust{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tab{
    text-decoration: none;
   color: black;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    height: 100%;
    border-right: 1px solid #F3F4F5 ;
    width: 25%;
    position: absolute;

}
@media screen and (max-width: 700px) {
    .navbar{
        display: none;
    }
    
}

.image {
    height: 60px;
    width: 60px;
    align-self: flex-start;
    margin-left: 35px;
    margin-top: 20px;
}
.iconsandwords span{
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    width:130px;
}
.iconsandwords span:hover{
    background-color:#F3F4F5;
    border-radius: 25px;
    color: #1da1f2;
   

}
